#bartenderDashboard {
	display: grid;
	grid-template-columns: 800fr 160fr 400fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	width: 100%;
	height: 100%;
}

#bartenderDashboard #menu {
	background-color: var(--dark-grey);
}

#bartenderDashboard #menu button {
	color: var(--color-sidemenu);
	background-color: var(--bg-btn);
	border: 1px solid transparent;
	border-radius: 5px;
	font-weight: 600;
	font-size: 1.1rem;
	padding: 0.5rem;
	text-transform: uppercase;
}

#bartenderDashboard #allOrders td:first-of-type {
	width: 38%;
}

#bartenderDashboard #orders .order table td:first-of-type {
	width: 45%;
}

#bartenderDashboard #allOrders td:nth-of-type(2) {
	width: 15%;
}

#bartenderDashboard #orders .order table td:nth-of-type(2) {
	width: 25%;
}

#bartenderDashboard #allOrders td:nth-of-type(3),
#bartenderDashboard #allOrders td:nth-of-type(4) {
	width: 24%;
}

#bartenderDashboard #orders .order table td:nth-of-type(3),
#bartenderDashboard #orders .order table td:nth-of-type(4) {
	width: 15%;
}

#bartenderDashboard #allOrders tbody td:not(:first-of-type),
#bartenderDashboard #orders .order table tbody td:not(:first-of-type) {
	text-align: center;
}

#bartenderDashboard #allOrders tbody tr,
#bartenderDashboard #orders .order table tbody tr {
	border-bottom: 0.5rem solid var(--bg-dark);
}

#bartenderDashboard #allOrders tbody tr:first-of-type,
#bartenderDashboard #orders .order table tbody tr:first-of-type {
	border-top: 0.5rem solid var(--bg-dark);
}

#bartenderDashboard #allOrders tbody tr,
#bartenderDashboard #allOrders tbody td,
#bartenderDashboard #orders .order table tbody tr,
#bartenderDashboard #orders .order table tbody td {
	background-color: rgba(0, 103, 210, 0.5);
}

#bartenderDashboard #allOrders tbody td,
#bartenderDashboard #orders .order table tbody td,
#bartenderDashboard #orders .order table thead {
	font-size: 1.1rem;
	font-weight: 600;
}

#bartenderDashboard #allOrders tbody td:first-of-type {
	padding-left: 0.3rem;
}

#bartenderDashboard #orders .order table tbody td:first-of-type {
	padding-left: 1rem;
}

#bartenderDashboard button.removeOne {
	background-color: rgba(0, 200, 146, 0.9);
	color: white;
	padding: 0.5rem 0.5rem;
	font-weight: 600;
	border: none;
	border-radius: 5px;
}

#bartenderDashboard button.removeAll {
	color: var(--color-sidemenu);
	background-color: #9d5066;
	padding: 0.5rem 0.5rem;
	font-weight: 600;
	border: none;
	border-radius: 5px;
}

#bartenderDashboard #orders {
	/* 2 columns */
	/* display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: start; */

	/* 1 column */
	display: flex;
	flex-direction: column;
	width: 100%;

	overflow: auto;
	/* Two columns */
	/* --orders-gap: 0.5rem; */

	/* One column */
	--orders-gap: 1rem;
	gap: var(--orders-gap);
	padding: var(--orders-gap);
}

#bartenderDashboard #orders .order table {
	/* 1 column */
	width: 100%;
}

#bartenderDashboard #orders .order {
	border: 2px solid rgba(0, 200, 146, 0.6);
	border-radius: 5px;
}

#bartenderDashboard #orders .order table thead {
	background-color: rgba(0, 200, 146, 0.6);
}

#bartenderDashboard #orders .order table thead td:last-of-type {
	text-align: right;
	padding-right: 0.5rem;
}

#bartenderDashboard #orders .order table thead td:first-of-type {
	padding-left: 0.5rem;
}

#bartenderDashboard #orders button.finish {
	background-color: transparent;
	border: none;
	color: var(--lime);
	font-weight: 600;
	font-size: 1.2rem;
}
