.qty-numpad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.qty-numpad button {
  font-size: 2rem;
}

#informations div {
  background-color: var(--bg-menu);
}

#informations div span {
  color: rgba(255, 255, 255, 0.9);
}
