#waiterDashboard {
	width: 100%;
	height: 100%;
}

#waiterMenu {
	width: 11.76%;
	color: var(--color-sidemenu);
	background-color: var(--bg-menu);
	font-weight: 600;
}

#waiterMenu button,
#topMenu button {
	color: var(--color-sidemenu);
	background-color: var(--bg-btn);
	border: 1px solid transparent;
	border-radius: 20px;
	font-weight: 600;
	font-size: 1.3rem;
	padding: 0.5rem 0px;
	text-transform: uppercase;
}

#waiterMenu button.active,
#topMenu button.active {
	background-color: var(--bg-btn-active);
	border-color: var(--border-btn-active);
}

#waiterMenu #todayInfo > div {
	background-color: var(--bg-btn);
	font-size: 0.9rem;
}

#topMenu {
	height: 10.16%;
	background-color: var(--bg-menu);
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 2rem;
}

#topMenu button {
	padding: 0.5rem;
}
